* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 110%;
}
.appContiner {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid #2a2727;
    border-radius: 10px;
    margin: 20px 5% 20px 5%;
}
.puntuacionContiner, .eleccionContiner {
    display: flex;
    justify-content: center;
}